<!-- Use if you want to show back and forward for posts. -->
{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}
{% if page.previous %}
<div class="col-4 sm-width-full left mr-lg-4 mt-3">
  <a class="no-underline-hover py-1 block" href="{{ page.previous.url | prepend: full_base_url }}">
    <span class="h4 bold chevron-left">{{ page.previous.title | truncate:30 }}</span>
  </a>
</div>
{% endif %}
{% if page.next %}
<div class="col-4 sm-width-full right mt-3">
  <a class="no-underline-hover py-1 block" href="{{ page.next.url | prepend: full_base_url }}">
    <span class="h4 bold right chevron-right">{{ page.next.title | truncate:30 }}</span>
  </a>
</div>
{% endif %}
